<!DOCTYPE html>
<html lang="en">
<head>
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/Projects.css">
</head>
<body>
    <header>
        <div class="logo"><a asp-controller="Home" asp-action="Index">JaKMPster</a></div>
        <nav>
            <ul class="nav_links">
                <li><a asp-controller="Home" asp-action="AboutUs">About Us</a></li>
                <li><a asp-controller="Home" asp-action="Projects">Projects</a></li>
                <li><a asp-controller="Home" asp-action="Services">Services</a></li>
            </ul>
        </nav>
        <a class="cta" href="#"><button>Contact Us</button></a>
    </header>
    <main>
        <div class="banner-container">
            <div class="top_banner">
                <div class="banner-text">
                    <h2>PROJECTS</h2>
                    <p>Explore the innovative creations of our talented team members as we present a curated collection of our past projects, demonstrating our expertise and passion for programming excellence.</p>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <img src="~/images/top_banner.jpg" alt="card1_img">
            </div>
            <div class="card-content">
                <h3>CODING PROJECT</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consectetur ac ante efficitur interdum. Fusce condimentum sapien ut elit mollis, non accumsan quam placerat.</p>
            </div>

            <div class="card">
                <img src="~/images/card1.png" alt="card2_img">
            </div>
            <div class="card-content">
                <h3>Sample Works</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consectetur ac ante efficitur interdum. Fusce condimentum sapien ut elit mollis, non accumsan quam placerat.</p>
            </div>

            <div class="card">
                <img src="~/images/card2.jpg" alt="card3_img">
            </div>
            <div class="card-content">
                <h3>WEB DEVELOPMENT</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consectetur ac ante efficitur interdum. Fusce condimentum sapien ut elit mollis, non accumsan quam placerat.</p>
            </div>

        </div>
</body>

<footer>
    <div class="contact-column">
        <ul><div class="column-txt">CONTACT US</div>
            <li>123456789</li>
            <li>987654321</li>
            <li>lol@websystems.sirjuan</li>
        </ul>
    </div>
    <div class="socials-column">
        <ul>
            <div class="column-txt">SOCIALS</div>
            <li><a href="#"><img src="~/images/fb.png" alt="fb"></a></li>
            <li><a href="#"><img src="~/images/insta.png" alt="insta"></a></li>
            <li><a href="#"><img src="~/images/twitter.png" alt="X"></a></li>
        </ul>
    </div>
</footer>
</html>